/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

address,
em,
i {
    font-style: normal;
}

strong,
b {
    font-weight: 400;
}

.wrap {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 물결 Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.fixedDecoWave {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 500;
    pointer-events: none;
    transition: all 1s ease 0s;
}

.fixedDecoWave.pos1 {
    transform: translateY(50%);
}

.fixedDecoWave.pos2 {
    transform: translateY(100%);
}

.waves {
    transition: all 1s ease 0s;
    transform-origin: center bottom;
    transform: scaleY(1);
}

.waves.on {
    transform: scaleY(1.5);
}
/* 버블효과 */
.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.wrapper .bubble {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    animation: animate 10s linear infinite;
}
.wrapper .bubble:nth-child(1) {
    top: 20%;
    left: 20%;
    animation-duration: 8s;
  }
  .wrapper .bubble:nth-child(2) {
    top: 60%;
    left: 80%;
    animation-duration: 10s;
  }
  .wrapper .bubble:nth-child(3) {
    top: 40%;
    left: 40%;
    animation-duration: 3s;
  }
  .wrapper .bubble:nth-child(4) {
    top: 66%;
    left: 30%;
    animation-duration: 7s;
  }
  .wrapper .bubble:nth-child(5) {
    top: 90%;
    left: 10%;
    animation-duration: 9s;
  }
  .wrapper .bubble:nth-child(6) {
    top: 30%;
    left: 60%;
    animation-duration: 5s;
  }
  .wrapper .bubble:nth-child(7) {
    top: 70%;
    left: 20%;
    animation-duration: 8s;
  }
  .wrapper .bubble:nth-child(8) {
    top: 75%;
    left: 60%;
    animation-duration: 10s;
  }
  .wrapper .bubble:nth-child(9) {
    top: 50%;
    left: 50%;
    animation-duration: 6s;
  }
  .wrapper .bubble:nth-child(10) {
    top: 45%;
    left: 20%;
    animation-duration: 10s;
  }
  .wrapper .bubble:nth-child(11) {
    top: 10%;
    left: 90%;
    animation-duration: 9s;
  }
  .wrapper .bubble:nth-child(12) {
    top: 20%;
    left: 70%;
    animation-duration: 7s;
  }
  .wrapper .bubble:nth-child(13) {
    top: 20%;
    left: 20%;
    animation-duration: 8s;
  }
  .wrapper .bubble:nth-child(14) {
    top: 60%;
    left: 5%;
    animation-duration: 6s;
  }
  .wrapper .bubble:nth-child(15) {
    top: 90%;
    left: 80%;
    animation-duration: 9s;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }

}

.bar { 
	border: 2px solid #444; 
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	opacity: 80%;
}
.bar-container {
    float: right;
}
.bar-container img{
    max-height: 50px;
}
/* top */
.btnTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: #a4aff7;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1000;
}
/* 마우스커서 */
#cursor {
    position: absolute;
    z-index: 10000000000000;
    transform: translate(10%, 10%);
    background: url(../img/mouse/orange.png);
    background-size: contain;
    width: 80px;
    height: 80px;
    pointer-events: none;
}

.grid {
    background-size: 30px 30px;
    background-image: linear-gradient(90deg, #000 1px, transparent 1px), linear-gradient(90deg, #000 1px, transparent 1px), linear-gradient(#000 1px, transparent 1px), linear-gradient(#000 1px, transparent 1px);
}

/* header */
.header {
    position: relative;
    background: #1b1f42;
    width: 100%;
    height: 100vh;
}

.inner-header {
    height: 75vh;
    width: 100%;
}

.inner-header .title {
    padding-top: 200px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.inner-header .title p {
    text-align: left;
    color: #fbe4b8;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 10px
}

.wave {
    position: absolute;
    left: 0;
    top: 94%;
}

.waves {
    position: relative;
    width: 100%;
    height: 28vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 240px;
}



/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        /* height:40px;
    min-height:40px; */
    }

    .title {
        /* font-size:24px; */
    }
}



/*aboutTop*/
.aboutT {
    background: #ffdfb0;
    height: 100%;
    width: 84%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    margin-top: 220px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.about_list>ul {
    display: flex;
    justify-content: space-between;
}

.about_list>ul>li {
    padding-top: 25px;
    padding-bottom: 55px;
    font-size: 23px;
    font-weight: bold;
    margin: 0 22px;
    text-transform: uppercase;
}

.about_top {
    display: flex;
    padding: 0px 140px;
}

.about_topL {
    width: 50%;
    padding-left: 20px;
}
.about_topL img{
    width: 100%;
}
.about_topR {
    border-top: 1px solid #1b1f42;
    width: 50%;
    height: 250px;
    margin-right: 20px;
}

.about_topR p {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 140%;
    font-weight: 400;
}

.about_mid {
    margin: 100px 0;
    display: flex;
    padding: 0 140px;
}

.about_mid svg {
    width: 36px;
    height: 200px;
}

.about_mid .cls-1 {
    fill: #1b1f42;
}

.about_mid h2 {
    padding: 16px 0;
    font-size: 58px;
    font-weight: bold;
}

.about_bot {
    padding: 0 140px;
}

.about_bot>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_bot>ul>li {
    position: relative;
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}

.about_bot>ul>li h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    flex-shrink: 0;
}
.about_bot>ul>li>ul>li {
    font-size: 19px;
    padding-bottom: 10px;
    font-weight: 400;
}

.aboutlist>ul {
    display: flex;
}

.aboutlist>ul>li {
    font-size: 20px;
}
.aboutbot_list{
    font-size: 20px;
    font-weight: bold;
}
.aboutbot_list span{
    padding-left:20px;
    font-size: 19px;
    font-weight: 400;
}
.about_bot>ul>li>h4+* {
    flex-grow: 1;
}
/* about bottom */
.aboutB {
    height: 60vh;
    width: 84%;
    margin: 0 auto;
    background: #ffdfb0;
    border-radius: 0 0 20px 20px;
    margin-bottom: 15px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    position: relative;
}

.skill{
    width: 160px;
    height: 160px;
    /* position: relative; */
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding:10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px  rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05),
}
 /* .skills h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 80px 140px;
}

.skills>ul {
    margin: -55px 140px;
    display: flex;
}

.skills>ul>li {
    flex: 1;
    position: relative;
}

.skills>ul>li img {
    width: 66px;
    height: 66px;
    object-fit: contain;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}  */
/* 
.skills figure{
    -moz-box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
    inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
    8px 8px 24px 0 rgba(174, 174, 192, 0.4);
  -webkit-box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
    inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
    8px 8px 24px 0 rgba(174, 174, 192, 0.4);
  box-shadow: inset -8px -8px 8px 0 rgba(174, 174, 192, 0.25),
    inset 8px 8px 8px 0 #fff, -8px -8px 24px 0 #fff,
    8px 8px 24px 0 rgba(174, 174, 192, 0.4);
}
.skills figure:hover{
    -moz-box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
    inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
  -webkit-box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
    inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
  box-shadow: inset -8px -8px 8px 0 rgba(255, 255, 255, 0.7),
    inset 8px 8px 8px 0 rgba(174, 174, 192, 0.2);
}  */

 /* .skills .per {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} 

.skills circle {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: all 0.5s ease 0s;
    stroke-width: 9;
    opacity: 0.6;

}


.skills p {
    font-size: 13px;
    text-align: center;
}  */

/* popup */
.popup {
    height: 100vh;
    position: relative;
    width: 100%;
    margin-top: 123px;
}

.popup>h1 {
    position: absolute;
    left: 279px;
    top: 58px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.popup>h1 span {
    font-size: 2.5rem;
    padding-right: 10px;
}

.popupbox {
    width: 84%;
    height: 91%;
    margin: 0 auto;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.popupbox img {
    width: 100%;
    height: 100%;
}

.popupImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
}

.popupImg>ul {
    display: flex;
    flex-wrap: wrap;
}

.popupImg>ul>li {
    width: 290px;
    margin: 0 auto;
    height: 290px;
    padding: 10px 10px;
    position: relative;
    /* animation: motion 0.3s linear 0s infinite alternate; margin-top: 0; */
}  
@keyframes motion {
    /* 0% {margin-top: 0px;}
    100% {margin-top: 10px;} */
}
.popupImg>ul>li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease 0s;
    filter: brightness(1);
}

.popupImg>ul>li:hover img {
    transform: scale(1.2);
    filter: brightness(0.4);
    background: #000;
}

.popupImg>ul>li .info {
    font-size: 0;
}

.popupImg>ul>li:hover .info>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.popuppopup {
    width: 1200px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 50;
    padding: 20px;
    padding-bottom: 50px;
    display: none;
    border: 4px solid black;
}

.popuppopup.on {
    display: block;
}

.detailpopup {
    position: relative;
    width: 100%;
    height: 100%;
}

.detailpopup>li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease 0s;
}

.detailpopup>li.on {
    opacity: 1;
    pointer-events: auto;
}

.detailpopup>li>img {
    margin-right: 20px;
}

.btnPopupClose {
    text-align: right;
    display: block;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    background: #fff;
    border-radius: 33px 33px 0 0;
    text-transform: uppercase;
    border: 4px solid black;
    border-bottom: none;
}

.popuppopup .popuppopupcolor {
    display: flex;
}

.puppopup .bellycolor1 {
    background: #f29bbb;
    width: 25px;
    height: 25px;
}

.popuppopup .bellycolor2 {
    background: #b5ddf6;
    width: 25px;
    height: 25px;
}

.puppopup .blackfridaycolor1 {
    background: #f29bbb;
    width: 25px;
    height: 25px;
}

.popuppopup .blackfridaycolor1 {
    background: #b5ddf6;
    width: 25px;
    height: 25px;
}

.puppopup .christmascolor1 {
    background: #f29bbb;
    width: 25px;
    height: 25px;
}

.popuppopup .christmascolor2 {
    background: #b5ddf6;
    width: 25px;
    height: 25px;
}

.puppopup .halloweencolor1 {
    background: #f29bbb;
    width: 25px;
    height: 25px;
}

.popuppopup .halloweencolor2 {
    background: #b5ddf6;
    width: 25px;
    height: 25px;
}

.puppopup .HNYcolor1 {
    background: #f29bbb;
    width: 25px;
    height: 25px;
}

.popuppopup .HNYcolor2 {
    background: #b5ddf6;
    width: 25px;
    height: 25px;
}

.popuppopup .hippocolor1 {
    background: #714cf4;
    width: 25px;
    height: 25px;
}

.popuppopup .hippocolor2 {
    background: #d3abf4;
    width: 25px;
    height: 25px;
}

.popuppopup .jejucolor1 {
    background: #bfc5f6;
    width: 25px;
    height: 25px;
}

.popuppopup .jejucolor2 {
    background: #eda642;
    width: 25px;
    height: 25px;
}

.popuppopup .pathroomcolor1 {
    background: #f2c416;
    width: 25px;
    height: 25px;
}

.popuppopup .pathroomcolor2 {
    background: #2c3f80;
    width: 25px;
    height: 25px;
}

/* .btnPopupClose{
    position: absolute;
    right: 15px;
    top: 4px;
}
.btnPopupClose a{
    position: absolute;
    right: 20px;
    top: 20px;
} */
.popup_IMG>ul>li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.popup_IMG>ul>li>ul {
    margin-left: 50px
}

/* banner */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 94px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.bannerbox {
    width: 84%;
    height: 91%;
    margin: 0 auto;
    position: relative;
}

.bannerbox img {
    width: 100%;
    height: 100%;
}

.banner>h1 {
    position: absolute;
    left: 320px;
    top: 116px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.banner>h1 span {
    padding-right: 10px;
}

.bannerImg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    left: 58%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.train{
    width:400%;
    height: 100%;
    display: flex;
    transition:all 0s ease 0s;
}

.train>li {
    flex: 1;
    position: relative;
}
.bannerImg>ul>li.on {

}

.bannerImg>ul>li img {
    width: 1597px;
    height: 100%;
    object-fit: contain;
}

.bannerImg>ul>li>ul {
    display: flex;
}
.bannerImg>ul>li>ul>li{
    position: absolute;
    left: 44%;
    bottom: 0%;
    transform: translate(-50%, -50%);
}
.tabmenu {
    position: absolute;
    left: 150px;
    top: 41px;
}
.tab {
    display: flex;
}

.tab>li {
    margin-right: 7px;
    padding: 15px 18px;
    background: #fbe4b8;
    border-radius: 10px 10px 0 0;
}

.tab>li.on {
    margin-right: 7px;
    padding: -1px 105px;
    background: #fcccc5;
    border-radius: 10px 10px 0 0;
}

.bannerbtn {
    position: absolute;
    left: 150px;
    top: 95px;
}

.prevbtn {
    padding: 39px 33px;
    font-size: 0;
    display: inline-block;
}

.nextbtn {
    padding: 39px 33px;
    font-size: 0;
    display: inline-block;

}

.train>li>ul>li h4{
    font-size: 2rem;
    font-weight: bold;
}
.train>li>ul>li>ul>li{
    font-size: 18px;
    font-weight: 400;
}
/* .redesign */
.redesign {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 37px;
    margin-bottom: 123px;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.redesignbox {
    width: 1601px;
    margin: 0 auto;
    height: 87vh;
}

.redesignbox img {
    width: 100%;
    height: 100%;
}

.redesign h1 {
    position: absolute;
    left: 297px;
    top: 88px;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.hongkongmain {
    position: absolute;
    left: 19%;
    top: 24%;
}

.hongkongmain figure {

    width: 803px;
    height: 400px;
    overflow: hidden;

}

.hongkongmain>figure>img {
    width: 100%;
}

.redesign_contents {
    position: absolute;
    top: 33%;
    right: 18%;
    font-weight: bold;
}

.redesign_contents h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.redesign_contents ul>li {
    font-size: 18px;
    display: flex;
    margin-bottom: 5px;
}

.redesign_contents ul>li span {
    padding-left: 25px;
}

.redesign_contents ul>li>ul {
    display: flex;
    margin-left: 25px;
}

.redesign_contents ul>li .color1 {
    background: green;
    width: 25px;
    height: 25px;
    margin-left: 19px;
    margin-right: 10px;
}

.redesign_contents ul>li .color2 {
    background: green;
    width: 25px;
    height: 25px;
}

.redesign_List>li {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.redesign_List>li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.redesign a {
    position: absolute;
    right: 29%;
    bottom: 43%;
    width: 108px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}
/* contact */
.contact {
    width: 100%;
    height: 100vh;
    background: #1b1f42;
}

.contactbox {
    text-align: center;
}
.contactbox > .con_list{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #fff;
}
.con_list>ul{
    display: flex;
}
.con_list>ul>li{
    width: 100px;
    height: 100px;
}
.con_list>ul>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}